<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
     <link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
<style>
body{
	background-color: aqua;
}
 </style>
</head>
<body>
	 <div class="container">
	<h2> Register Form</h2>
        <font color="green"><p th:text="${smsg}"></p></font>
           <font color="red"><p th:text="${emsg}"></p></font>
          
  <form th:action="@{/register}" th:object="${counsellore}" method="Post">
    <table>
      <tr>
        <td> Name:</td>
        <td><input type="text" th:field="*{name}" required /></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><input type="email" th:field="*{email}" required /></td>
      </tr>
      <tr>
        <td> Password:</td>
        <td><input type="password" th:field="*{pwd}" required /></td>
      </tr>
      <tr>
        <td>Phno:</td>
        <td><input type="number" th:field="*{phno}" required/></td>
      </tr> 
      
      <tr>
        <td></td>
        <td><input type="submit" value="Submit"  class="btn btn-primary"/></td>
      </tr>
    </table>
</form>
 <div>
	  <a href="/login">Login Here</a>
	 </div>
	   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>
</html>