<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ticket List</title>
</head>
<body>
    <h2>Ticket List</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="ticket : ${ticketList}">
                <td th:text="${ticket.id}"></td>
                <td th:text="${ticket.status}"></td>
            </tr>
        </tbody>
    </table>
    <a href="allTickets.html">View All Tickets</a>
</body>
</html>
